h1 {
    text-align: center;color: rgb(245, 49, 131);background-color: rgb(243, 243, 182);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; /* Full viewport height */
    gap: 20px;

}
body {
    background-image: url('admin.jpg'); /* Replace with your image file */
    background-size: cover; /* Ensures the image covers the entire screen */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}
button {
    background-color: #bb4704; /* Change this to any color */
    color: white; /* Change text color */
}
button:hover {
    background-color: rgb(1, 53, 131); /* Change to a different color when hovered */
}
